html {
	background: url("https://www.filterforge.com/filters/13779-v1.jpg);
	color: yellow;
}

.content {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.pg {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-indent: 30px;
}

.picture {
	text-align: center;
	width: 300px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header {
	text-align: center;
}
